<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Olá JSF</title>
</h:head>
<h:body>
	<h:form>
		
		Nome: <h:inputText value="#{nomesBean.nome}"
			binding="#{nomesBean.inputNome}" />
		<br />

		<!-- Para conectar os componentes do formulário com as propriedades criadas, usamos o
        o atributo binding das tags dos componentes -->
		<h:commandButton value="Adicionar" action="#{nomesBean.adicionar}"
			binding="#{nomesBean.botaoAdicionar}" />
		<br />
		<ol>
			<ui:repeat var="nome" value="#{nomesBean.nomes}">
				<li>#{nome}</li>
			</ui:repeat>
		</ol>
	</h:form>
</h:body>
</html>